body{	
	text-align:center;
	color:white;
	background:linear-gradient(to right,#42275a, #734b6d);
}
table{
	margin:100px auto;
	background:linear-gradient(45deg,black,darkred);
	padding:10px;
	border-radius:13px;
	width:400px;	
	box-shadow:0 0 10px white;
}
tr{
	height:42px;
}
table,input{
	font-size:18px;
	outline:none;
}
input[type=submit]{
	border:none;
	background:transparent;
	color:white;
	border:1px solid white;
	padding: 3px 25px;
	border-radius:15px;
}
input[type=submit]:hover{
	box-shadow:0 0 10px white;
	text-transform: uppercase;
}
input[type="text"]:focus, input[type="password"]:focus{
	border:3px solid skyblue;
	box-shadow:0 0 10px skyblue;
}